**/gen/
**/edmx/
*.db
schema.sql

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/


**/.mta/
*.mtar
*.mta


*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea

# added by cds deploy
default-env.json

*/**/**/dist

package-lock.json
mta_archives/.DS_Store
.DS_Store
